
<section class="material-half-bg">
	<div class="cover"></div>
</section>
<section class="login-content">
	<div class="logo">
		<h1>Odfsdf fsdfs</h1>
	</div>
	<div class="login-box">
		<form class="login-form"  [formGroup]="OBSLoginForm" (ngSubmit)="LoginAction(OBSLoginForm.value)">
			<h3 class="login-head"><i class="fa fa-lg fa-fw fa-pencil"></i>SIGN IN</h3>
			<div class="form-group">
				<label class="control-label">USERNAME</label>
				<input type="text" class="form-control" placeholder="Username" required="required"  formControlName="UserName">
			</div>
			<div class="form-group">
				<label class="control-label">EMAIL</label>
				<input type="text" class="form-control" placeholder="Username" required="required"  formControlName="UserName">
			</div>
			<div class="form-group">
				<label class="control-label">PASSWORD</label>
				<input type="password" class="form-control" placeholder="Password" required="required"  formControlName="UserPassword">
			</div>
			<div class="form-group">
				<label class="control-label">CONFIRM PASSWORD</label>
				<input type="password" class="form-control" placeholder="Password" required="required"  formControlName="UserPassword">
			</div>
			
			<div class="form-group btn-container">
				<button class="btn btn-primary btn-block" [disabled]="OBSLoginForm.invalid"><i class="fa fa-sign-in fa-lg fa-fw"></i>SIGN IN</button>
			</div><Br>
			<div class="form-group btn-container">
				<button class="btn btn-info btn-block" [disabled]="OBSLoginForm.invalid"><i class="fa fa-eraser" aria-hidden="true"></i>RESET</button>
			</div>
		</form>
		
	</div>
</section>


<style>
	.login-content .login-box {
		position: relative;
		min-width: 350px;
		min-height: 600px;
		background-color: #fff;
		box-shadow: 0px 29px 147.5px 102.5px rgba(0, 0, 0, 0.05), 0px 29px 95px 0px rgba(0, 0, 0, 0.16);
		-webkit-perspective: 800px;
		perspective: 800px;
		transition: all 0.5s ease-in-out;
	}
</style>