<section class="material-half-bg">
  <div class="cover"></div> 
</section>


<section class="login-content">

 
 <div class="login-box" style="padding: 2rem;">
  <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Change Password</h3>
  <form [formGroup]="register" > 
  
   
     <div class="form-group">
      <label for="username" class="text-info">Old Password:</label><br>
      <input type="oldpassword" formControlName="oldpassword" class="form-control" ><br>
      <section *ngIf="register.get('oldpassword').invalid">
        <p *ngIf="register.get('oldpassword').touched && register.get('oldpassword').errors.required" class="alert alert-danger">oldpassword is required</p>
        <p *ngIf="register.get('oldpassword').errors.minlength" class="alert alert-danger">min should be 6 </p>
      </section>
  </div>


     <div class="form-group">
        <label for="username" class="text-info">New Password:</label><br>
        <input type="password" formControlName="password" class="form-control" ><br>
        <section *ngIf="register.get('password').invalid">
          <p *ngIf="register.get('password').touched && register.get('password').errors.required" class="alert alert-danger">password is required</p>
          <p *ngIf="register.get('password').errors.minlength" class="alert alert-danger">min should be 6 </p>
        </section>
    </div>
     
     
    <div class="form-group">
        <label for="password" class="text-info">Conform Password:</label><br>
        <input type="password" formControlName="conformpassword" class="form-control" ><br>
<span *ngIf="register.get('conformpassword').invalid">
<p *ngIf="register.get('conformpassword').touched && register.get('conformpassword').errors.required" class="alert alert-danger">password is required</p>
<p *ngIf="register.get('conformpassword').errors.minlength" class="alert alert-danger">min should be 6 </p>
<p *ngIf="register.get('conformpassword').dirty && register.controls.conformpassword.errors?.MatchPassword" class="alert alert-danger"> password must match </p>
</span>
    </div>




    <div class="form-group btn-container">
      <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!register.valid" (click)="send(register)">Set Password</button>
     </div>	
   </form>
 </div>



</section>

