<ngx-spinner bdOpacity = 0.7 bdColor = "rgba(51,51,51,0.8)" size = "medium" color = "#8eb7cb" type = "ball-clip-rotate-multiple" [fullScreen] = "true">
  <p style="color: white; margin-top: 40px" > Loading... </p>
</ngx-spinner>
<div class="app-title">
  <div>
    <h1>ExternalReqs</h1>
  </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Addreq"
  style="margin-right: 155ex; ">Add New Req </button>

<br><br>

<!-- Add a Req data target -->
<div id="Addreq" class="modal" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-newsletter">
    <div class="modal-content">
      <div class="modal-body text-left">
        <div class="modal-header">
          <h4 class="modal-title">Add New Req Details</h4>
          <button type="button" class="close" (click)= "clear(abc.value);abc.reset()" data-dismiss="modal">&times;</button>
        </div>

        <form #abc="ngForm" (submit)=add_ext_req(abc) autocomplete="off">
          <div class="row">
            <!-- <div class="col-sm-6"><br>
              <label style="color: black;">Employee Id </label>
              <input id="user_id" [(ngModel)]="user_id" name="user_id" readonly class="form-control" required="true" value={{iid}}
                type="number">
            </div> -->
            <div class="col-sm-6"><br>
              <label style="color: black; ">customers </label>
              <select [(ngModel)]="customer_Id" name="customer_Id" required class="form-control" #cusid="ngModel"
                [ngClass]="{'is-invalid':cusid.invalid && cusid.touched}">
                <option *ngFor='let abc of customerName; let i = index' value={{abc.customer_id}}>{{abc.customer_name}}
                </option>
              </select>
              <section *ngIf="cusid.invalid && cusid.touched" class="invalid-feedback">
                <p *ngIf="cusid.errors.required">*please select Customer</p>
              </section>
            </div>
            <div class="col-sm-6"><br>
              <label style="color: black; ">Account Manager</label>
              <select [(ngModel)]="account_manager" name="account_manager" class="form-control" required
                #acmng="ngModel" [ngClass]="{'is-invalid':acmng.invalid && acmng.touched}" >
                <option *ngFor='let abc of acoountManager; let i = index' value={{abc.employee_id}}>
                  {{abc.employee_name}} </option>
              </select>
              <section *ngIf="acmng.invalid && acmng.touched" class="invalid-feedback">
                <p *ngIf="acmng.errors.required">*Please select account manager</p>
              </section>
            </div>
            <div class="col-sm-6"><br>
              <label style="color: black; ">Skills</label>
              <input id="skill" [(ngModel)]="skills" name="skills" placeholder="Enter skills" class="form-control"
                 type="text" required #skill="ngModel"
                [ngClass]="{'is-invalid':skill.invalid && skill.touched}" pattern="[^-\s][a-zA-Z0-9-_]*">

              <section *ngIf="skill.invalid && skill.touched" class="invalid-feedback">
                <p *ngIf="skill.errors.required">*please enter skills</p>
              </section>
            </div>
            <div class="col-sm-6"><br>
              <label style="color: black; ">Years Of Experince</label>
              <input id="years_of_experince" [(ngModel)]="years_of_experience" name="years_of_experience"
                placeholder="Enter years of experince" required class="form-control" required="true" type="number"
                #yrsexp="ngModel" [ngClass]="{'is-invalid':yrsexp.invalid && yrsexp.touched}" maxlength="2">
              <section *ngIf="yrsexp.invalid && yrsexp.touched" class="invalid-feedback">
                <p *ngIf="yrsexp.errors.required">*please Enter Year of Exp</p>
              </section>
            </div>
            <div class="col-sm-6"><br>
              <label style="color: black; ">Job Location</label>
              <input id="job_location" [(ngModel)]="job_location" name="job_location" placeholder="Enter job location"
                required class="form-control" required="true" type="text" #jblct="ngModel" pattern="[^-\s][a-zA-Z-_\s]*" [ngClass]="{'is-invalid':jblct.invalid && jblct.touched}">
              <section *ngIf="jblct.invalid && jblct.touched" class="invalid-feedback">
                <p *ngIf="jblct.errors.required">*Please enter job location</p>
              </section>
            </div>
            <div class="col-sm-6"><br>
              <label style="color: black; ">Customer Approved CTC</label>
              <input id="customer_approved_budget" [(ngModel)]="customer_approved_budget"
                name="customer_approved_budget" placeholder="Enter customer Approved CTC" class="form-control"
                required="true" type="number" required #cusbg="ngModel"
                [ngClass]="{'is-invalid':cusbg.invalid && cusbg.touched}" >
              <section *ngIf="cusbg.invalid && cusbg.touched" class="invalid-feedback">
                <p *ngIf="cusbg.errors.required">*Please enter customer approved CTC </p>
              </section>
            </div>
            <div class="col-sm-6"><br>
              <label style="color: black; ">Expected CTC</label>
              <input id="expected_budget" [(ngModel)]="expected_budget" name="expected_budget"
                placeholder="Enter expected CTC" class="form-control" required="true" type="number" required
                #exectc="ngModel" [ngClass]="{'is-invalid':exectc.invalid && exectc.touched}"(ngModelChange)="fun()" >
              <section *ngIf="exectc.invalid && exectc.touched" class="invalid-feedback">
                <p *ngIf="exectc.errors.required">*Please enter expected CTC </p>
              </section>
            </div>
            <div class="col-sm-6"><br>
              <label style="color: black; ">Margin</label>
              <input id="margin" [(ngModel)]="margin" name="margin" placeholder="Enter Margin" class="form-control"
                required="true" type="number"  required readonly>
            </div>
            <div class="col-sm-6"><br>
              <label style="color: black; ">Expected Date Of Joining</label>
              <input id="date_of_joining" [(ngModel)]="date_of_joining" name="date_of_joining"
                placeholder="Enter expected date of joining" class="form-control" required="true" type="date"
                min="{{currentDate | date:'yyyy-MM-dd'}}" required #exedate="ngModel"
                [ngClass]="{'is-invalid':exedate.invalid && exedate.touched}">
              <section *ngIf="exedate.invalid && exedate.touched" class="invalid-feedback">
                <p *ngIf="exedate.errors.required">*Please select expected date of joining </p>
              </section>
            </div>
            <div class="col-sm-6"><br>
              <label style="color: black; ">Notice period</label>
              <input id="notice_period period" min="{{currentDate | date:'yyyy-MM-dd'}}" [(ngModel)]="notice_period"
                name="notice_period" placeholder="Enter notice period" class="form-control" required="true" type="date"
                required #np="ngModel" [ngClass]="{'is-invalid':np.invalid && np.touched}">
              <section *ngIf="np.invalid && np.touched" class="invalid-feedback">
                <p *ngIf="np.errors.required">*Please select expected date of joining </p>
              </section>
            </div>
          </div>

          <div class="modal-footer">
            <div class="row">
              <div>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" [disabled]="abc.invalid"
                  (click)=add_ext_req(abc)>Submit</button>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>




<div class="jumbotron" *ngIf="!bool">
  <h1 style="text-align: center">{{notify}}</h1>
</div>


<div class="row top table-responsive" style="margin-right: 0px; margin-left: 0px;" *ngIf="bool">
  <table class="table table-condensed tile ">
    <thead>
      <tr>
     
        <th>Req Id</th>
        <th>Skills</th>
        <th>Customer Name</th>
        <th>Job Location</th>
        <th>Req Raised On Date</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let item of externallist  | paginate: { itemsPerPage: perPage, currentPage: currentpage, totalItems: totalitems}; let i = index'>
       
        <td><a href="" class="trigger-btn" data-toggle="modal" data-target="#feedback"
          (click)=feedback(item.external_id) title="feedback">{{item.external_id}}</a></td>
        <td>{{item.skills}}</td>
        <td>{{item.customer_name}}</td>
        <td>{{item.job_location}}</td>
        <td>{{item.request_raised_date}}</td>
        <td *ngIf="item.status === 'Approved'">
          <span class="approved">{{item.status}}</span>
        </td>
        <td *ngIf="item.status === 'Raised'">
            <span class="raised">{{item.status}}</span>
          </td>
          <td *ngIf="item.status === 'Rejected'">
            <span class="rejected">{{item.status}}</span>
            </td>
            <td *ngIf="item.status === 'Sentback'">
                <span class="sentback">{{item.status}}</span>
              </td>
        <td (click)='edit(item)'> <img src="assets/pen.png" height="20" data-toggle="modal" data-target="#myEditModal"
            width="20"></td>
        <td> <img src="assets/delete.png" height="20" width="20" 
            (click)='deleterecord(item.external_id)'></td>

            <!-- <td> <img src="assets/ojas1.png" height="20" width="20" 
              (click)='FeedBack(item.external_id)'></td> -->
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="pagechange($event)" class="pull-right"></pagination-controls>
</div>


<!-- feedback -->
<div class="modal" id="feedback" data-keyboard="false" data-backdrop="static" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" >Feedback</h4>
      </div><br>
  <!-- Modal body -->
 <div style="margin: 5px; " >
  <div class="row top table-responsive" style="margin-right: 0px; margin-left: 0px;" >
    <table class="table table-condensed tile " *ngIf="f_data">
      <thead>
        <tr> 
          <th>Message </th>
          <th>Request Raised Date</th>
          <th>Reviewed By </th>
          <th> Reviewed Date</th>
          <th>Role Name</th>
          <th>Status</th>
        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of feedbacks" >
       
          <td>{{item.message}}</td>
          <td>{{item.request_raised_date}}</td>
          <td>{{item.reviewedBy}}</td>
          <td>{{item.reviewedOn}}</td>
          <td>{{item.role_name}}</td>
  
          <td *ngIf="item.status === 'Approved'">
            <span class="approved">{{item.status}}</span>
          </td>
          <td *ngIf="item.status === 'Raised'">
              <span class="raised">{{item.status}}</span>
            </td>
            <td *ngIf="item.status === 'Rejected'">
              <span class="rejected">{{item.status}}</span>
              </td>
              <td *ngIf="item.status === 'Send Back'">
                  <span class="sentback">{{item.status}}</span>
                </td>
        <tr>
        </tr>
      </tbody>
    </table>
    <div class="container" *ngIf = "fd_data">
      <div class="jumbotron">
        <h3 class="text-center">No one responded on this req</h3>      
        <!-- <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p> -->
      </div>    
    </div> 
  </div>
  </div>


  <!-- Modal footer -->
  <div class="row">
    <div class="offset-md-3 col-md-4">
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary text-center" data-dismiss="modal"
          (click)=erase() >close</button>
    </div>
    </div>
  </div>
</div>
</div>
</div>





<!-- Edit data target -->
<div id="myEditModal" class="modal" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-newsletter">
    <div class="modal-content">
      <div class="modal-body text-left">

        <div class="modal-header">
          <h4 class="modal-title">Edit Req</h4>
          <button type="button" class="close"  data-dismiss="modal">&times;</button>
        </div>
        <form #editform="ngForm" (submit)=update_ext_req(editform)>
          <div class="row">

            <div class="col-sm-6"><br>
              <label style="color: black; ">Employee Id </label>
              <input id="user_id" [(ngModel)]="edit_user_id" name="edit_user_id" readonly class="form-control"
                required="true" type="text">
            </div>
            <div class="col-sm-6"><br>
              <label style="color: black; ">ExternalReq Id</label>
              <input id="external_id" [(ngModel)]="edit_external_id" name="edit_external_id" readonly
                class="form-control" required="true" type="number">
            </div>
            <div class="col-sm-6"><br>
              <label style="color: black; ">Customers </label>
              <select [(ngModel)]="edit_customer_Id" name="edit_customer_Id" required="required" class="form-control">
                <option *ngFor='let abc of customerName; let i = index' value={{abc.customer_id}}>{{abc.customer_name}}
                </option>
              </select>
            </div>
            <div class="col-sm-6"><br>
              <label style="color: black; ">Account Manager</label>
              <select [(ngModel)]="edit_account_manager" name="edit_account_manager" required="required"
                class="form-control">
                <option *ngFor='let abc of acoountManager; let i = index' value={{abc.employee_id}}>
                  {{abc.employee_name}} </option>
              </select>
            </div>
            <div class="col-sm-6"><br>
              <label style="color: black; ">Skills</label>
              <input id="skill" [(ngModel)]="edit_skills" name="edit_skills" placeholder="skills" class="form-control"
                required="true" type="text">
            </div>
            <div class="col-sm-6"><br>
              <label style="color: black; ">Years Of Experince</label>
              <input id="years_of_experince" [(ngModel)]="edit_years_of_experience" name="edit_years_of_experience"
                placeholder="Enter years of experince" class="form-control" required="true" type="number">
            </div>
            <div class="col-sm-6"><br>
              <label style="color: black; ">Job Location</label>
              <input id="job_location" [(ngModel)]="edit_job_location" name="edit_job_location"
                placeholder="Edit job location" class="form-control" required="true" type="text">
            </div>
            <div class="col-sm-6"><br>
              <label style="color: black; ">Customer Approved CTC</label>
              <input id="edit_customer_offer_ctc" [(ngModel)]="edit_customer_approved_budget"
                name="edit_customer_approved_budget" placeholder="Enter customer approved CTC" class="form-control"
                required="true" type="number">
            </div>
            <div class="col-sm-6"><br>
              <label style="color: black; ">Expected CTC</label>
              <input id="expected_budget" [(ngModel)]="edit_expected_budget" name="edit_expected_budget"
                placeholder="Enter expected CTC" class="form-control" required="true" type="number" (ngModelChange)="fun1()">
            </div>
            <div class="col-sm-6"><br>
              <label style="color: black; ">Margin</label>
              <input id="margin" [(ngModel)]="edit_margin" name="edit_margin" placeholder="Margin" class="form-control" readonly
                required="true" type="number">
            </div>
            <div class="col-sm-6"><br>
              <label style="color: black; ">Expected Date Of Joining</label>
              <input id="date_of_joining" min="{{currentDate | date:'yyyy-MM-dd'}}" [(ngModel)]="edit_date_of_joining"
                name="edit_date_of_joining" placeholder="Enter expected date of joining" class="form-control" required="true"
                type="date">
            </div>
            <div class="col-sm-6"><br>
              <label style="color: black; ">Notice period</label><br>
              <input id="notice_period period" min="{{currentDate | date:'yyyy-MM-dd'}}"
                [(ngModel)]="edit_notice_period" name="edit_notice_period" placeholder="Enter notice period date"
                class="form-control" required="true" type="date">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-dismiss="modal"
              (click)=update_ext_req(editform)>Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- View data target  -->
<!-- <div id="ViewModal" class="modal">
  <div class="modal-dialog modal-newsletter">
    <div class="modal-content">
      <div class="modal-body text-left">

        <div class="modal-header">
          <h4 class="modal-title">View Req</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

          <div class="row">

            <div class="col-sm-6">
              <label style="color: black; ">Employee Id:</label>
              <input id="user_id" [(ngModel)]="edit_user_id" name="edit_user_id" readonly class="form-control"
                required="true" type="text" readonly>
            </div>
            <div class="col-sm-6">
              <label style="color: black; ">ExternalReq Id</label>
              <input id="external_id" [(ngModel)]="edit_external_id" name="edit_external_id" readonly
                class="form-control" required="true" type="number">
            </div>
            <div class="col-sm-6">
              <label style="color: black; ">customers:</label>
              <br>
              <select [(ngModel)]="edit_customer_Id" name="edit_customer_Id" required="required" class="form-control" readonly>
                <option *ngFor='let abc of customerName; let i = index' value={{abc.customer_id}}>{{abc.customer_name}}
                </option>
              </select>
            </div>
            <div class="col-sm-6">
              <label style="color: black; ">Account Manager</label>
              <br>
              <select [(ngModel)]="edit_account_manager" name="edit_account_manager" required="required" readonly
                class="form-control">
                <option *ngFor='let abc of acoountManager; let i = index' value={{abc.employee_id}}>
                  {{abc.employee_name}} </option>
              </select>
            </div>
            <div class="col-sm-6">
              <label style="color: black; ">Skill</label>
              <br>
              <input id="skill" [(ngModel)]="edit_skills" name="edit_skills" placeholder="skill" class="form-control" readonly
                required="true" type="text">
            </div>
            <div class="col-sm-6">
              <label style="color: black; ">Years Of Experince</label>
              <input id="years_of_experince" [(ngModel)]="edit_years_of_experience" name="edit_years_of_experience" readonly
                placeholder="years_of_experince" class="form-control" required="true" type="number">
            </div>
            <div class="col-sm-6">
              <label style="color: black; ">Job Location</label>
              <input id="job_location" [(ngModel)]="edit_job_location" name="edit_job_location" readonly
                placeholder="job_location" class="form-control" required="true" type="text">
            </div>
            <div class="col-sm-6">
              <label style="color: black; ">Customer Approved CTC</label>
              <br>
              <input id="edit_customer_offer_ctc" [(ngModel)]="edit_customer_approved_budget"
                name="edit_customer_approved_budget" placeholder="customer_approved_budget" class="form-control" readonly
                required="true" type="number">
            </div>
            <div class="col-sm-6">
              <label style="color: black; ">Expected CTC</label>
              <br>
              <input id="expected_budget" [(ngModel)]="edit_expected_budget" name="edit_expected_budget" readonly
                placeholder="expected_budget" class="form-control" required="true" type="number">
            </div>
            <div class="col-sm-6">
              <label style="color: black; ">Margin</label>
              <br>
              <input id="margin" [(ngModel)]="edit_margin" name="edit_margin" placeholder="Margin" class="form-control" readonly
                required="true" type="number">
            </div>
            <div class="col-sm-6">
              <label style="color: black; ">Expected Date Of Joining</label>
              <br>
              <input id="date_of_joining" min="{{currentDate | date:'yyyy-MM-dd'}}" [(ngModel)]="edit_date_of_joining" readonly
                name="edit_date_of_joining" placeholder="Expected_Date_Of_Joining" class="form-control" required="true"
                type="date">
            </div>
            <div class="col-sm-6">
              <label style="color: black; ">Notice period</label>
              <br>
              <input id="notice_period period" min="{{currentDate | date:'yyyy-MM-dd'}}"
                [(ngModel)]="edit_notice_period" name="edit_notice_period" placeholder="Notice period" readonly
                class="form-control" required="true" type="date">
            </div>
          </div>
(change)=fun()
      </div>
    </div>
  </div>
</div> -->