<!--
<nav class="navbar navbar-default navbar-expand-lg navbar-light">
	<div class="navbar-header d-flex col">
		<a class="navbar-brand" href="#">OBS<b>HRMS</b></a>
		<button type="button" data-target="#navbarCollapse" data-toggle="collapse"
			class="navbar-toggle navbar-toggler ml-auto">
			<span class="navbar-toggler-icon"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<ul class="nav navbar-nav navbar-right ml-auto">
			<li class="nav-item dropdown">
				<a class="nav-link" routerLink="/login"><i class="fa fa-user-o"></i> Login</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link" routerLink="/sing-up"><i class="fa fa-sign-in"></i> Sign Up</a>
			</li>
		</ul>
	</div>
</nav>
-->
   <router-outlet></router-outlet>

  

 