<!-- 
    
<section class="material-half-bg">
    <div class="cover"></div> 
 </section>

 <h1 style="text-align:center;">Welcome to Req2Offer</h1>
 <section class="login-content">
 
   
   <div class="login-box" login-form>
   
      <form [formGroup]="register" (ngSubmit)="send(register)" class="from-group"> 
   
       <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Set Password</h3>
     
       <div class="form-group">
          <label for="username" class="text-info">Password:</label><br>
          <input type="password" formControlName="password" class="form-control" ><br>
          <section *ngIf="register.get('password').invalid">
            <p *ngIf="register.get('password').touched && register.get('password').errors.required" class="alert alert-danger">password is required</p>
            <p *ngIf="register.get('password').errors.minlength" class="alert alert-danger">min should be 6 </p>
          </section>
      </div>
       
       
                   <div class="form-group">
                      <label for="password" class="text-info">Conform Password:</label><br>
                      <input type="password" formControlName="conformpassword" class="form-control" ><br>
<span *ngIf="register.get('conformpassword').invalid">
<p *ngIf="register.get('conformpassword').touched && register.get('conformpassword').errors.required" class="alert alert-danger">password is required</p>
<p *ngIf="register.get('conformpassword').errors.minlength" class="alert alert-danger">min should be 6 </p>
<p *ngIf="register.get('conformpassword').dirty && register.controls.conformpassword.errors?.MatchPassword" class="alert alert-danger"> password must match </p>
</span>
                  </div>



       
       <div class="form-group btn-container">
          <button type="submit" class="btn btn-primary" data-dismiss="modal"  >Update</button>
       </div>	
     </form>
   </div>


 </section> -->
 
<section class="material-half-bg">
    <div class="cover"></div> 
 </section>

 
 <section class="login-content">
 
   
   <div class="login-box">
   
     <form class="login-form"  [formGroup]="register"  (ngSubmit)="send(register)">
       <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Set Password</h3>
     
       <div class="form-group">
          <label for="username" class="text-info">Password:</label><br>
          <input type="password" formControlName="password" class="form-control" ><br>
          <section *ngIf="register.get('password').invalid">
            <p *ngIf="register.get('password').touched && register.get('password').errors.required" class="alert alert-danger">password is required</p>
            <p *ngIf="register.get('password').errors.minlength" class="alert alert-danger">min should be 6 </p>
          </section>
      </div>
       
       
      <div class="form-group">
          <label for="password" class="text-info">Conform Password:</label><br>
          <input type="password" formControlName="conformpassword" class="form-control" ><br>
<span *ngIf="register.get('conformpassword').invalid">
<p *ngIf="register.get('conformpassword').touched && register.get('conformpassword').errors.required" class="alert alert-danger">password is required</p>
<p *ngIf="register.get('conformpassword').errors.minlength" class="alert alert-danger">min should be 6 </p>
<p *ngIf="register.get('conformpassword').dirty && register.controls.conformpassword.errors?.MatchPassword" class="alert alert-danger"> password must match </p>
</span>
      </div>




      <div class="form-group btn-container">
          <button type="submit" class="btn btn-primary" data-dismiss="modal"  >Update</button>
       </div>	
     </form>
   </div>


 
 </section>