<div class="app sidebar-mini rtl">
    <header class="app-header"><a class="app-header__logo">Req2Offer</a>
  
      <a class="app-sidebar__toggle" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
  
  
      <ul class="app-nav">
  
        <i class="fa fa-home fa-lg" style="color: white;margin-top: 20px"></i>&nbsp;&nbsp;
        <a routerLink="/admin/dashboard" style="color: white; margin-top: 15px">Dashboard</a>
  
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i
              class="fa fa-user fa-lg"></i></a>
          <ul class="dropdown-menu settings-menu dropdown-menu-right">
  
            <li><a class="dropdown-item" routerLink="/admin/profile"><i class="fa fa-user fa-lg"></i> Profile</a></li>
            <li><a class="dropdown-item" routerLink="/admin/changepassword"><i class="fa fa-pencil-square-o"></i>Change Password</a></li> 

            <li (click)="logoutAction()"><a class="dropdown-item" href=""><i class="fa fa-sign-out fa-lg"></i> Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </header>
    
    <!-- Sidebar menu-->

    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    
    <aside class="app-sidebar">
      <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="assets/pen.png" width="50px" alt="User Image">
        <div> 
          <p class="app-sidebar__user-name">{{username}}</p>
         <p class="app-sidebar__user-designation">{{role}}</p>
        </div> 
       </div> 
      <ul class="app-menu">
        <li><a class="app-menu__item actived" routerLink="/admin/userlist"routerLinkActive="active"><i class="app-menu__icon fa fa-user-circle-o"></i>
          <span class="app-menu__label">User</span></a></li>

        <li><a class="app-menu__item " routerLink="/admin/customerlist"routerLinkActive="active"><i class="app-menu__icon fa  fa-users"></i>
          <span class="app-menu__label">Customers</span></a></li> 

        <li><a class="treeview-item" routerLink="/admin/selected_candidets"routerLinkActive="active"><i class="app-menu__icon fa fa-check-square-o"></i>
          <span class="app-menu__label">Confirmed Candidates</span></a></li>
          
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">Raised Reqs</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" routerLink="/admin/internalreqs" routerLinkActive="active">Internal</a></li>
            <li><a class="treeview-item" routerLink="/admin/externalreqs" routerLinkActive="active">External</a></li>
          </ul>
        </li>
      
       
      </ul>
    </aside>

    <main  class="app-content">
      <router-outlet></router-outlet>
    </main>
    
    </div>
    
    